<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de Planes'}) %>

<body>
    <!-- Header -->
	<%- include('../partials/header-admin') %>
	<!-- /Header -->
    <section>

            <div class="admin-nueva">

                <h2 class="title">PLANES</h2>
                <li><a href="./planes/abm-planes-alta" class="btn-home btn-d-block btn-nuevo">AGREGAR NUEVO PLAN</a></li>
            
            </div>

        <main class="boxes lista-boxes">

            <% planes.forEach(plan => { %>
                <div class="box box-full">
                    <ul>
                        <li><img src="/img/planes/<%= plan.image %> " alt="plan familiar"></li>
                        <li class="title"><%= plan.plan %></li>
                        <li class="description"><%= plan.description %> </li>
                        <li><a href="/admin/planes/abm-planes-modificacion/<%= plan.id %>" class="btn-home btn-d-block btn-naranja btn-modificar">MODIFICAR</a></li>
                        <li><form action="/admin/planes/eliminar-plan/<%= plan.id %>" method="POST"><input type="submit" class="btn-home btn-d-block btn-eliminar" value="Eliminar"></form></li>
                    </ul>
                </div>
            <% }) %>
            
        </main>
        
    </section>
</body>
</html>