<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', { title: 'Modificar receta - One Big Box' }); %>
<body>
    <%- include('../partials/header-admin'); %>

    <form action="/admin/recetas/abm-recetas-modificacion/<%= data.id %>" method="POST" class="recipe-update" enctype="multipart/form-data">
        <h1>Modificar receta</h1>

        <% if (typeof errors != 'undefined') { %>
            <span>
                <ul style="background-color: #ff6868; padding: 15px 20px; border-radius: 10px; width: 100%;">
                    <% errors.forEach(error => { %>
                        <li style="color: #fff; list-style: disc; margin-left: 20px; font-size: 14px;"><%= error.msg %></li>
                    <% }) %>
                </ul>
            </span>
        <% } %>

        <span>
            <i class="fas fa-utensils"></i>
            <input type="text" name="title" id="title" placeholder="Título" value="<%= data.titulo %>">
        </span>

        <span>
            <i class="fas fa-sticky-note"></i>
            <input type="text" name="description" id="description" placeholder="Descripción" value="<%= data.description %>">
        </span>

        <span>
            <i class="fas fa-carrot"></i>
            <input type="text" name="ingredients" id="ingredients" placeholder="Ingredientes" value="<%= data.ingredientes %>">
        </span>

        <textarea name="preparation" id="preparation" placeholder="Preparación de la receta"><%= data.pasos %></textarea>

        <span class="form-33">
            <i class="far fa-clock"></i>
            <input type="number" name="preparationtime" id="preparation-time" min="1" max="200" placeholder="Tiempo de preparación" value="<%= data.tiempopreparacion %>">
        </span>

        <span class="form-33 form-33-medium">
            <i class="fas fa-dollar-sign"></i>
            <input type="number" name="price" id="price" min="1" placeholder="Precio" step="any" value="<%= data.precio %>">
        </span>


        <select name="recipeplan" id="recipe-plan">
            <% if (data.planId == 1) { %>
                <option value="1" selected>Plan Familiar</option>
                <option value="2">Plan Equilibrado</option>
                <option value="3">Plan Vegetariano</option>
                <option value="4">Plan Personalizado</option>
            <% } else if (data.planId == 2) { %>
                <option value="1">Plan Familiar</option>
                <option value="2" selected>Plan Equilibrado</option>
                <option value="3">Plan Vegetariano</option>
                <option value="4">Plan Personalizado</option>
            <% } else if (data.planId == 3) { %>
                <option value="1">Plan Familiar</option>
                <option value="2">Plan Equilibrado</option>
                <option value="3" selected>Plan Vegetariano</option>
                <option value="4">Plan Personalizado</option>
            <% } else { %>
                <option value="1">Plan Familiar</option>
                <option value="2">Plan Equilibrado</option>
                <option value="3">Plan Vegetariano</option>
                <option value="4" selected>Plan Personalizado</option>
            <% }%>
        </select>

        <label for="recipe-img" class="recipe-img">
            <i class="fas fa-upload"></i>Cargar imagen
            <input type="file" name="image" class="recipe-img" value="/img/recetas/<%= data.image %>">
        </label>

        <div class="update-action-btns">
            <a href="/admin">Cancelar</a>
            <input type="submit" value="Modificar receta">
        </div>
    </form>
</body>
</html>