<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de Recetas'}) %>
<body>
    <!-- Header -->
	<%- include('../partials/header-admin') %>
    <!-- /Header -->
    
    <div class="list-header">
        <h1>Usuarios</h1>
        <a href="./users/abm-users-alta" class="user-btn user-create"><i class="fas fa-plus"></i>Crear Usuario</a>
    </div>
    <%if (users.length>0) { %>
        <main class="user-list">

            <% users.forEach(user => { %>
                <div class="user-item">
                    <div class="user-info">
                        <img src="/img/avatar/<%= user.avatar %> " alt="<%= user.name + ' ' + user.lastname %> ">
                        <div>
                            <h2><%= user.name + ' ' + user.lastname %> </h2>
                            <h3><%= user.email %></h3>
                            <h4><%= (user.admin) ? 'ADMIN' : '' %></h4>
                            
                        </div>
                    </div>
                    
                    <div class="user-actions">
                        <a href="/admin/users/abm-users-modificacion/<%= user.id %>" class="user-btn user-modify"><i class="fas fa-edit"></i>Modificar</a>
                        <form  action="/admin/users/abm-users-eliminar/<%= user.id %>/<%= user.email %>" method="POST" class="user-btn user-delete btn-eliminar">
                            <i class="fas fa-trash-alt"></i>
                            <input type="submit" value="Eliminar">
                        </form>
                    </div>
                </div>
            <% }) %>
        </main>
    <%} else {%>
        <span>
            <ul style="background-color: #ff6868; margin-left: 10% ; padding: 15px 20px; border-radius: 10px; width: 80%;">
                <li style="color: #fff; list-style: disc; margin-left: 20px; font-size: 14px;">No hay usuarios en la Base de datos</li>
            </ul>
        </span>
    <%}%>    
   
</body>
</html>