<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', { title: 'Crear Usuario Usuario - One Big Box' }); %>
<body>
    <%- include('../partials/header-admin'); %>

    <form action="../users/abm-users-alta" method="POST" class="recipe-update" enctype="multipart/form-data" >
        <h1>Alta Usuario</h1>

        <% if (typeof errors != 'undefined') { %>
            <span>
                <ul style="background-color: #ff6868; padding: 15px 20px; border-radius: 10px; width: 100%;">
                    <% errors.forEach(error => { %>
                        <li style="color: #fff; list-style: disc; margin-left: 20px; font-size: 14px;"><%= error.msg %></li>
                    <% }) %>
                </ul>
            </span>
        <% } %>
        <ul style="background-color: #ff6868; padding: 15px 20px; border-radius: 10px; width: 100%; display: none" class="errors-front">
                
        </ul>
       
        <span>
            <i class="fas fa-user"></i>
            <input type="text" name="name" id="name" placeholder="Nombre del Usuario" value="<%= typeof old == 'undefined' ? null : old.nombre %>"  >
        </span>
     
        <span>
            <i class="fas fa-file-signature"></i>
            <input type="text" name="lastname" id="lastname" placeholder="Apellido del Usuario" value="<%= typeof old == 'undefined' ? null : old.apellido %>"  >
        </span>

        <span>
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Email del Usuario" value="<%= typeof old == 'undefined' ? null : old.email %>"  >
        </span>

        <span>
            <i class="fas fa-key"></i>
            <input type="password" name="password" id="password" placeholder="Password del Usuario" value=""  >
        </span>

        <select name="admin" id="admin">
            <% if (typeof old == 'undefined') { %>
                <option value="0">USER</option>
                <option value="1">ADMIN</option>       
            <% } else if ((old.admin == '0')) { %>
                <option value="0" selected>USER</option>
                <option value="1">ADMIN</option>
            <% } else { %>
                <option value="0">USER</option>
                <option value="1" selected >ADMIN</option>
            <% } %>
        </select>

        <div class="file">
            <i class="fas fa-upload"></i>
            <p>Cargar Imagen</p>
            <input type="file" name="avatar" id="avatar">
        </div>

        <div class="update-action-btns">
            <a href="/admin/users">Cancelar</a>
            <input type="submit"  value="Crear">
        </div>
    </form>
    <script src="/js/admin/abm-user-alta.js"></script>
</body>
</html>