<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de Recetas'}) %>
<body>
    <!-- Header -->
	<%- include('../partials/header-admin') %>
	<!-- /Header -->
    <section  >
        <div class = "admin-nueva">
            <h2 class="title">RECETAS</h2>
            <li><a href="./recetas/abm-recetas-alta" class="btn-home btn-d-block btn-nuevo">AGREGAR NUEVA RECETA</a></li>
        </div>
        <main class="boxes lista-boxes">
            <% recetas.forEach(receta => { %>
                <div class="box box-full">
                    <ul>
                        <li><img src="/img/recetas/<%= receta.image %> " alt="<%= receta.titulo %> "></li>
                        <li class="title"><%= receta.titulo %></li>
                        
                        <li><a href="/admin/recetas/abm-recetas-modificacion/<%= receta.id %>" class="btn-home btn-d-block btn-naranja btn-modificar">MODIFICAR</a></li>
                        <li><form action="/admin/recetas/eliminar-receta/<%= receta.id %>" method="POST"><input type="submit" class="btn-home btn-d-block btn-eliminar" value="Eliminar"></form></li>
                   
                    </ul>
                </div>
            <% }) %>
            
        </main>
    </section>

</body>
</html>