<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito de Compras'}) %>

<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    
    <!-- Main -->
    <main class="cart">
        
            <ul style="background-color: #ff6868; padding: 15px 20px; border-radius: 10px; width: 100%; display: none" class="errors-front">            
            </ul>

            <% if (items.length > 0) { %>             
                <div class="cart-header row spc-btw content-padding">       
                    <div class="cart-titles">
                        <h1>Carrito de compras</h1>
                        <h2>Cantidad de recetas: <%- cantRecetas %> </h2>
                        
                        <p id="total-purchase">Total: $ <%- total %> </p>

                        <form  method="POST" action="cart/deleteCart">
                            <div >
                                <button type="submit" class="cart-delete"  > <i class="fas fa-trash-alt"></i> Vaciar Carrito </button> 
                            </div>   
                        </form>
                        
                    </div>
                    <form  method="POST" action="/cart/shop">
                        <div >
                            <input type="submit" value="Finalizar compra">
                        </div>        
                    </form>           
                </div>

                <% items.forEach(item => { %>
                 
                    <div class="cart-items-list">
                        <div class="cart-item row spc-btw">
                            <div class="item-all-info row">
                                <img class="item-img" src="/img/recetas/<%- item.recipeImage %>" alt="receta-img">
                                <div class="item-info">
                                    <h3 class="item-title"><%- item.recipeTitulo %></h3>
                                    <h4 class="item-plan"><%- item.planTitulo %></h4>

                                    <form  method="POST" action="/cart/deleteCartById">
                                        <div >
                                            <button type="submit" class="item-delete"  name = "item-delete"> <i class="fas fa-trash-alt"></i></button> 
                                            <input type="hidden" name= "itemId"  value="<%- item.id %>" >
                                        </div>   
                                    </form>

                                    <div>
                                        <span>Cantidad</span>

                                        <input class="item-quantity" type="number" value= <%- item.recipeCant %> name="item-quantity" id="item-quantity" min="1">
                                    </div>
                                </div>
                            </div>
                            <div class="item-price">
                                <div class="item-unit-price" id="item-unit-price">
                                    <p id="price-text">Precio unitario: $</p>
                                    <p id="price-number"><%- item.recipePrecio %></p>
                                </div>
                                <div class="item-subtotal-price" id = "item-subtotal-price"> 
                                    <p class="sub-price-text">Subtotal: $</p>
                                    <p class="sub-price-number"><%- item.totalPrice %></p>
                                </div>
                            </div>
                        </div>
                    </div>

                <% }) %>
                
            <% }else{ %>
                <div class="cart-header row spc-btw content-padding"> 
                    <h2>Carrito de compras Vacío</h2>
                </div>
            <%}%>
    </main>
    <!-- /Main -->

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->

    <script src="/js/cart/item.js"></script>
</body>
</html>