<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'HomePage'}) %>

<body class="homepage">
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <section class="background">
        <% if (!locals.user) { %>
            
            <ul class="slogan">
                <li class="title">COMIDA SANA <br> PARA TODA LA SEMANA</li>
                <li class="description">Sin moverte de tu casa, recibí los mejores <b>ingredientes</b> y <b>recetas</b><br> para cocinar como un chef profesional</li>
                <li><a href="/user" class="btn-home btn-d-block btn-naranja">¡Ingresá!</a></li>
            </ul>
        <% } %>
    </section>
    <section class="nuestros-box">
        <ul>
            <li class="title">NUESTRO PLANES</li>
            <li class="description">Nuestros planes incluyen recetas creadas por nuestros chefs pensadas para tu salud</li>
        </ul>
        <main class="boxes home-planes">
            <div class="box plan-home">
                <ul>
                    <li><img src="/img/planes/plan-familiar.png" alt="plan familiar"></li>
                    <li class="title">PLAN FAMILIAR</li>
                    <li class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab iure architecto nesciunt atque quo?</li>
                    <li><a href="#" class="btn-home btn-d-block btn-naranja">SELECCIONAR PLAN</a></li>
                </ul>
            </div>
            <div class="box center plan-home">
                <ul>
                    <li><img src="/img/planes/plan-equilibrado.jpg" alt="plan equilibrado"></li>
                    <li class="title">PLAN EQUILIBRADO</li>
                    <li class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab iure architecto nesciunt atque quo?</li>
                    <li><a href="#" class="btn-home btn-d-block btn-naranja">SELECCIONAR PLAN</a></li>
                </ul>
            </div>
            <div class="box plan-home">
                <ul>
                    <li><img src="/img/planes/plan-vegetariano.png" alt="plan vegetariano"></li>
                    <li class="title">PLAN VEGETARIANO</li>
                    <li class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab iure architecto nesciunt atque quo?</li>
                    <li><a href="#" class="btn-home btn-d-block btn-naranja">SELECCIONAR PLAN</a></li>
                </ul>
            </div>    
        </main>
        <div class="view-all"><a href="#" class="button">VER TODOS</a></div>



    </section>

    <section class="instructive">
        <% instructive.forEach(step => { %>
            <ul class="steps">
                <li class="title"><%= step.instruction %> </li>
                <li><img src="/img/instructivo/<%= step.image %>" alt="click"></li>
                <li class="description"><%= step.description %></li>
            </ul>
            <% }) %>
    </section>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>