<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de Recetas'}) %>

<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <section class="nuestros-box">
        <div>
            <h2 class="title">NUESTRAS RECETAS</h2>
        </div>
        <main class="boxes lista-boxes">
            <% recetas.forEach(receta => { %>
             
                <div class="box box-full">
                    <ul>
                        <li><img src="/img/recetas/<%= receta.image %> " alt="<%= receta.titulo %> "></li>
                        <li class="title"><%= receta.titulo %></li>
                        <li><a href="recetas/detail/<%= receta.id %>" class="btn-home btn-d-block btn-naranja">VER RECETA</a></li>
                    </ul>
                </div>
            <% }) %>
            
        </main>
    </section>
    
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>