<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Registro Nuevo Usuario'}) %>

<body>
    <!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
    <div class="page-bg-image">
        <div class="container login-container">
            <div class="login-page-title">
                <h1>INICIAR SESIÓN</h1>
                <h2> Ingresá con tu cuenta, con Google o Facebook. Si aún no tiene una, puedes registrarte!</h2>
            </div>
            <main class="login-page-main">
                <form action="#" method="post">
                    <% if (typeof errors != "undefined" ) { %>
                        <ul style="background-color: #ff6868;
                        padding: 20px;
                        border-radius: 10px;">
                            <% errors.forEach(function(element){ %>
                                <li style="color: #fff;
                                list-style: disc;
                                margin-left: 20px;">
                                    <%= element.msg %> 
                                </li>                            
                            <% }) %>
                        </ul>
                    <% } %>
                    <!-- Espacio apartado para los errores que valido desde el scrip del frontEnd -->
                    <ul style="background-color: #ff6868; padding: 15px 20px; border-radius: 10px; width: 100%; display: none" class="errors-front">
                
                    </ul>
                    <div class="contenedor-imputs">
                        <input type="text" name="email" id = "email" placeholder="Email" value="<%= typeof old == 'undefined' ? null : old.email %>"> </imput>
                        <input type="password" name = "password" id="password" placeholder ="Contraseña"></imput>
                        <!-- <label id="recordarEmail"> <input type="checkbox" name = "Recordarme" id="recordarEmail"></imput> Recordarme</label> -->
                        <div class="login-checkbox-rememberme">
                            <input id="checkRecordarme" name = "checkRecordarme" type="checkbox"> <label for="checkRecordarme"> Recordarme</label>
                          </div>
                          
                    </div>
                    <div>
                        <input type="submit" value="INICIAR SESIÓN">
                    </div>
                </form>
                <section class="social-methods-login">
                    <span class="login-separator">o</span>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-google"></i>Registrarse con <span>Google</span></a>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-facebook-square"></i>Registrarse con <span>Facebook</span></a>
                </section>
                <div>
                    <h3>¿No tenés cuenta? <a href="/user/register">Registrate</a></h3>
                </div>
            </main>
        </div>
    </div>
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->
<script src="/js/user/login.js"></script>
</body>
</html>