<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Registro Nuevo Usuario'}) %>

<body>
    <!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
    <div class="page-bg-image">
        <div class="container register-container">
            <div class="register-page-title">
                <h1>Crear cuenta</h1>
                <h2>Puedes crear una cuenta con Google, Facebook o directamente con tus datos.</h2>
            </div>
            <main class="register-page-main">
                <form action="/user/register" method="post" enctype="multipart/form-data">
                    <% if (typeof errors != "undefined" ) { %>
                        <ul style="background-color: #ff6868;
                        padding: 20px;
                        border-radius: 10px;">
                            <% errors.forEach(function(element){ %>
                                <li style="color: #fff;
                                list-style: disc;
                                margin-left: 20px;">
                                    <%= element.msg %> 
                                </li>                            
                            <% }) %>
                        </ul>
                    <% } %>
                     <!-- Espacio apartado para los errores que valido desde el scrip del frontEnd -->
                     <ul style="background-color: #ff6868; padding: 15px 20px; border-radius: 10px; width: 100%; display: none" class="errors-front">
                
                    </ul>             
                    <input type="text" name="name" id="name" placeholder="Nombre" value="<%= typeof old == 'undefined' ? null : old.nombre %>">
                    <input type="text" name="lastname" id="lastname" placeholder="Apellido" value="<%= typeof old == 'undefined' ? null : old.apellido %>" >
                    <input type="email" name="email" id="email" placeholder="Correo electrónico" value="<%= typeof old == 'undefined' ? null : old.email %>" >
                    <input type="password" name="password" id="password" placeholder="Contraseña">    
                    <div class="file">
                        <i class="fas fa-upload"></i>
                        <p>Cargar Imagen</p>
                        <input type="file" name="avatar" id="avatar">
                    </div>
                    <input type="submit" value="Registrarse">
                    
                </form>
                <section class="social-methods-register">
                    <span class="register-separator">o</span>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-google"></i>Registrarse con <span>Google</span></a>
                    <a href="#" class="social-ntw-btn"><i class="fab fa-facebook-square"></i>Registrarse con <span>Facebook</span></a>
                    <h3>¿Ya tenés cuenta? <a href="/user">Ingrese aquí</a></h3>
                </section>
            </main>
        </div>
    </div>
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->
<script src="/js/user/register.js"></script>
</body>
</html>